/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
  background: url(wedding-landing-background.png);
}

header {
    width: 100vw;
    height: 100vh;
    background: url(wedding-landing-cover.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.greybox {
    background-color: hsla(100, 0%, 0%, 0.6);
    width: 50%;
    height: 40%;
    text-align: center;
  }
  
  body {
    line-height: 1;
    background: url(wedding-landing-background.png);
  }
  
  .gettingmarried,
  .date {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: "Libre Baskerville", serif;
  }
  

.name {
    color: #d2ba87;
    font-size: 7rem;
    font-family: "Great Vibes", cursive;
    padding-top: 2.5rem;
  }
  
  .gettingmarried {
    padding-top: 11%;
  }

.locations {
  padding: 3rem 4rem;
}

.locationheadline,
.giftsheadline,
.contactheadline {
  font-size: 3rem;
  text-align: center;
  font-family: "Great Vibes", cursive;
  color: #444349;
  padding-bottom: 3rem;
}

.ceremony,
.photos,
.party {
  width: 32.5%;
  display: inline-block;
  text-align: center;
}

.ceremonyheadline,
.photosheadline,
.partyheadline {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #444349;
  padding-bottom: 2rem;
}

.locationpics {
  width: 25%;
  padding-bottom: 2rem;
}

.church,
.bastion,
.lounge {
  font-size: 1.1rem;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: #444349;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.program {
    background: hsla(100,0%,0%,.6);
    font-family:  "Mulish";
    text-align: left;
    padding: 3rem 35%;
    font-size: 1.2rem;
    font-weight: 300;
    color: #d2ba87;
}
.programheadline {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.programpara {
    padding-bottom: 2rem; 
    font-size:  italic;
}   
ul {
    list-style: none;
    line-height: 1.5rem;
  }
  .gifts {
    text-align: center;
    padding: 3rem 3rem;
    color: #444349;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    line-height: 2rem;
}
.giftspic {
    width: 8.25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.qa {
    background: hsla(100,0%,0%,.6);
    padding: 3rem 4rem;
    color: #d2ba87;

}
.qaheadline {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.travel, .food, .smallstuff {
    width: 32.5%;
    display: inline-block;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: text-top;
}
.qaheadline {
    font: "Libre Baskerville";
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.question {
    font-size: 1.15rem;
    line-height: 1.8rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
  }
  
  .answer {
    font-size: 1.15rem;
    line-height: 1.8rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
  }
  
  a {
    color: #bd806e;
    text-decoration: none;
  }
  .contact {
    text-align: center;
    padding: 3rem;
    color: #444349;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.15rem;
    line-height: 3rem;
  }
  
  footer {
    background-color: #606060;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 0.9rem;
  }
  @media (max-width: 900px) {
    .greybox {
      width: 100%;
      height: 50vh;
    }
  
    .ceremony,
    .photos,
    .party {
      width: 100%;
    }
  
    .travel,
    .food,
    .smallstuff {
      width: 100%;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  
    .qaheadlines {
      padding-top: 2.5rem;
    }